li {
    color:rgb(80, 80, 168);
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/*p {
    background-color: bisque;
}*/

body .fancy {
    font-style: italic;
    font-size: x-large;
    background-color: black;
    color: aliceblue;
}

img {
    width: 500px;
    height: auto;
}